* {
    padding: 0;
    margin: 0;
    border: border-box;
  }
  
/* Nav Bar */
#container{
    background-color: #0f1111;
    height: 50px;
    display: flex;
    justify-content: space-around;
    }

#logo{
    font-family: "Lucida Handwriting" , cursive;
    margin-top: 5.5px;
    font-size: 30px;
    color: #2de38e;
    text-decoration: none;
    height: 37px;
    width: 90px;
    }

#myCart{
    color: white;
    padding-top: 16px;
    text-decoration: none;
    font-size: 19px;
    }

#contact{
    color: white;
    padding-top: 16px;
    text-decoration: none;
    font-size: 19px;
    }

#log-in{
    color: white;
    padding-top: 16px;
    text-decoration: none;
    font-size: 19px;
    }

#sign-up{
    color: white;
    padding-top: 16px;
    text-decoration: none;
    font-size: 19px;    
    }

#inp{
    height: 30px;
    width: 190px;
    position: relative;
    top: 10px;
    border-radius: 4px;
    border: none;
    font-family: "Lucida Console" , monospace;
    padding-left: 3px;
    padding-top: 3px;
    font-size: 13px;
    }

#inp:focus::placeholder{
    color: transparent;
    }

#but{
    height: 30px;
    width: 50px;
    position: relative;
    top: 10px;
    margin-left: -135px;
    background-color: #2de38e;
    font-family: monaco , monospace;
    border-radius: 4px;
    border: none;
    align-items: center;
    }

.border{
    font-family: "Lucida console" , monospace;
    }
 
.border:hover{
    /* border: 2px solid white; */
    transform: scale(1.1);
    }

/* Product Name */
#product-heading{
    margin-top: 20px;
    margin-left: 200px;
    padding-top: 5px;
    padding-left: 22px;
    padding-bottom: 5px;
    font-size: 36px;
    font-family: "Courier New" , monospace;
    font-weight: 530;
    border: 2px solid black;
    border-radius: 4px;
    width:413px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

/* Product Details*/
#AcerAspire5-container{
    display: flex;
    margin-top: 27px;
    margin-left: 200px;
    }

#AcerAspire5-picture{    
    height: 550px;
    width: 440px;
    border: 2px solid black;
    border-radius: 4px;
    background-image: url("../images/acerAspire.jpg");
    background-size: cover;
    }

#AcerAspire5-text{
    padding-top: 7px;
    margin-left: 20px;
    font-family: "Lucida console" , monospace;
    }

#horizontal-rule1{
    margin-left: 200px;
    width: 820;
    margin-top: 20px;
    }

#status{
    font-size: 30px;
    color: white;
    background-color: green;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;  
    width: 65px;
    border-radius: 4px;
    }

#price-value{
    margin-top: 7px;
    font-size: 25px;
    }

#rating{
    margin-top: 15px;
    max-width: 33rem;
    background: #fff;
    padding-left: 15px;
    padding-top: 3px;
    padding-bottom: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 136px;
    border-radius: 0.5rem;
    }

.blackStar{
    font-size: 20px;
    cursor: pointer;
    }

.goldStar{
    color: gold;
    font-size: 20px;
    cursor: pointer;
    }
       
#color{
    margin-top: 25px;
    font-size: 25px;
    }

#color-value{
    margin-top: 3px;
    }

.btn-color{
    height: 45px;
    width: 45px;
    border-color: black;
    border-radius: 4px;
    }

.btn-color:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

#btn1{
    cursor: pointer;
    background-color: #69abce;
    }

#btn2{
    cursor: pointer;
    background-color: #FEEDD8;
    }

#btn3{
    cursor: pointer;
    background-color: #505F4E;
    }

#quantity{
    font-size: 25px;
    margin-top: 25px;
    }

#quantity-value{
    justify-content: space-evenly;
    margin-top: 5px;
    } 

#quantity-minus{
    height: 25px;
    width: 25px;
    border-width: 1px;
    border-radius: 50%;
    background-image: url("../images/minus.png");
    background-size: cover;
    cursor: pointer;
    }

#quantity-input{
    height: 35px;
    width: 50px;
    border-color: black;
    border-radius: 4px;
    padding-left: 17px;
    font-size: 19px;
    color: #0f1111;
    }

#quantity-input:focus::placeholder{
    color: transparent;
    }

#quantity-plus{
    height: 25px;
    width: 25px;
    border-width: 1px;
    border-radius: 50%;
    background-image: url("../images/plus.jpg");
    background-size: cover;
    cursor: pointer;
    }

#delivery{
    font-size: 25px;
    margin-top: 25px;
    }

#delivery-value{
    margin-top: 5px;
    }

#delivery-input{
    font-family: "Lucida console" , monospace;
    font-size: 17px;
    padding-left: 7px;
    padding-top: 1px;
    height: 27px;
    width: 260px;
    border-width: 1px;
    }

#delivery-input:focus::placeholder{
    color: transparent;
    }

#delivery-select{
    margin-top: 5px;
    height: 27px;
    width: 260px;
    font-family: "Lucida console" , monospace;
    font-size: 17px;
    padding-left: 3px;
    padding-top: 1px;
    }

#addToCart{
    margin-top: 27px;
    background-color: #2de38e;
    height: 38px;
    width: 350px;
    border-radius: 4px;
    font-size: 20px;
    font-family: "Lucida console" , monospace;
    padding-top: 3px;
    color: white;
    border: none;
    cursor: pointer;
    }

#wishlist{
    margin-top: 7px;
    background-color: #f9f8f6;
    height: 38px;
    width: 350px;
    border-radius: 4px;
    font-size: 20px;
    font-family: "Lucida console" , monospace;
    padding-top: 3px;
    border-color: #0f1111;
    color: #4e4d49;
    border-width: 0.1px;
    cursor: pointer;
    }

#horizontal-rule2{
    margin-left: 200px;
    width: 820;
    margin-top: 27px;
    }