* {
  padding: 0;
  margin: 0;
  border: border-box;
}

/* Nav Bar */
#container {
  background-color: #0f1111;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

#logo {
  font-family: "Lucida Handwriting", cursive;
  margin-top: 5.5px;
  font-size: 30px;
  color: #2de38e;
  text-decoration: none;
  height: 37px;
  width: 90px;
}

#myCart {
  color: white;
  padding-top: 16px;
  text-decoration: none;
  font-size: 19px;
}

#contact {
  color: white;
  padding-top: 16px;
  text-decoration: none;
  font-size: 19px;
}

#log-in {
  color: white;
  padding-top: 16px;
  text-decoration: none;
  font-size: 19px;
}

#sign-up {
  color: white;
  padding-top: 16px;
  text-decoration: none;
  font-size: 19px;
}

#inp {
  height: 30px;
  width: 190px;
  position: relative;
  top: 10px;
  border-radius: 4px;
  border: none;
  font-family: "Lucida Console", monospace;
  padding-left: 3px;
  padding-top: 3px;
  font-size: 13px;
}

#inp:focus::placeholder {
  color: transparent;
}

#but {
  height: 30px;
  width: 50px;
  position: relative;
  top: 10px;
  margin-left: -135px;
  background-color: #2de38e;
  font-family: monaco, monospace;
  border-radius: 4px;
  border: none;
  align-items: center;
  cursor: pointer;
}

.border {
  font-family: "Lucida console", monospace;
  transition: 0.3s;
  font-weight: 700;
}

.border:hover {
  /* border: 2px solid white; */
  transform: scale(1.1);
}

/* Contact Us Heading*/
#contact-us-heading {
  margin-top: 20px;
  margin-left: 21px;
  padding-top: 5px;
  padding-left: 7px;
  padding-right: 5px;
  padding-bottom: 5px;
  width: 220px;
  font-size: 36px;
  font-family: "Courier New", monospace;
  font-weight: 530;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* All Horizontal Rules */
.hori-rule {
  width: 770px;
  margin-left: 20px;
}

/* Contact Shop*/
#shop-contact-container {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
}

#shop-contact-picture {
  height: 250px;
  width: 230px;
  border: 2px solid black;
  border-radius: 4px;
  background-image: url("../images/2HBshop.jpg");
  background-size: cover;
}

#batch1 {
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  width: 300px;
  font-family: "Lucida console", monospace;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  margin: 7 0 0 20;
}

#shop-name {
  font-size: 27px;
}

#shop-address {
  font-size: 25px;
}

.contact-details {
  font-size: 25px;
  margin-top: 30px;
  margin-left: 20px;
  font-family: "Lucida console", monospace;
}

/* Contact Manager*/

#manager-contact-container {
  display: flex;
  margin-left: 20px;
}

#manager-contact-picture {
  height: 250px;
  width: 230px;
  border: 2px solid black;
  border-radius: 4px;
  background-image: url("../images/2HB_.jpg");
  background-size: cover;
}

#batch2 {
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  width: 212px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-family: "Lucida console", monospace;
  margin: 7 0 0 20;
}

#manager-name {
  font-size: 27px;
}

#manager-post {
  font-size: 25px;
}
